@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{
  font-family: 'Source Sans Pro';
  background-color: #eee;
  margin-left: 30em;
}

h5{
  color: #dd3232;
}

text{
  color: black;
}

head{
  font-family: 'Roboto Slab';
}

.date{
  text-align: left;
  color: #777;
}

/*Header*/

header{
  font-family: 'Abril Fatface';
  text-align: center;
}

/*Newspaper Container*/
.newspaper-container{
  background-color: white;
  box-shadow: #ddd;
  width: 700px;
  border-radius: 5em;
  padding: 5em;
}

/*Navigation*/

nav ul li a{
  color: #777;
  text-align: center;
}

nav ul{
  list-style: none;
  margin: 0 auto;
  border-bottom: 0.1em solid #777;
  border-top: 0.1em solid #777;
}

nav li{
  display: inline-block;
  padding: 0.3em; 
}

/*Front-Page Article*/

main img {
  width: 100%; 
}

main p {
  margin: 0; 
}

/*More Articles*/

.more-articles{
  text-align: justify;
  border-bottom: 0.1em solid #777;
  border-top: 0.1em solid #777;
  margin: 30px;
}

.more-articles section{
  display: inline-block;
  width: 40%;
  margin: 30px;
}

.more-articles img {
  width: 100%; 
}

/*bonus*/

.bonus-articles{
  display: grid;
  grid-template-columns: repeat(3, 35%);
  text-align: justify;
  border-bottom: 0.1em solid #777;
  border-top: 0.1em solid #777;
  margin: 10px;
}

.bonus-articles section{
  gap: 50px;
  margin: 5px;
}

.bonus-articles img {
  width: 100%; 
  height: 10em;
}


/*footer*/

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
